.intro{
font-family: 'Times New Roman', Times, serif;

}

.kaka {
    font-size:50px;
    text-shadow: 2px 2px #424242;
}

.button, .input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:35px;
    }

.msgert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 50%;
    margin-right: 50%;
  }   
   .container {
    position: relative;
    text-align: center;
    color:black;
}

.centered {
    margin-left: 25%;
    margin-right: 25%;
}